$cta-color: #ffae00;

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    padding: 2rem 0;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        height: auto;
    }

    .left {
        width: 100%;
        height: 100%;
        position: relative;

        .title {
            font-weight: bold;
            color: #fff;
            h1 {
                line-height: 1;
                font-size: 2.5em;
            }
        }

        .description {
            font-size: 1em;
            color: #6a6a6f;
            margin: 2rem 0;
        }

    }

    .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .image {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

.container {
    --max-width: 1200px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - var(--padding));
    margin-inline: auto;
    padding: 1rem;
}

.linear-color-background {
    background: rgb(110,215,219);
    background: linear-gradient(45deg, rgba(110,215,219,1) 0%, rgba(110,215,219,1) 60%, rgba(178,229,227,1) 78%, rgba(202,236,234,1) 100%);

    @media screen and (max-width: 768px) {
        background: linear-gradient(180deg, rgba(110,215,219,1) 0%, rgba(110,215,219,1) 60%, rgba(178,229,227,1) 78%, rgb(94 143 165) 100%);
    }
}

.linear-color-background-inverted {
    background: rgb(110,215,219);
    background: linear-gradient(270deg, rgba(110,215,219,1) 0%, rgba(110,215,219,1) 60%, rgba(178,229,227,1) 78%, rgb(255, 255, 255) 100%);

    @media screen and (max-width: 768px) {
        background: linear-gradient(0deg, rgba(110,215,219,1) 0%, rgba(110,215,219,1) 60%, rgba(178,229,227,1) 78%, rgb(255, 255, 255) 100%);
    }
}


.features-color-background {
    background-color: #5e8fa5;
}

.wrapper-features {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        height: auto;
    }


    .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .feature-icon{
            img {
                width: 150px;
            }
        }

        h3 {
            font-weight: bold;
        }

        p {
            text-align: center;
        }
    }
}

.form {
    padding: 2rem 0;
}

