<div class="linear-color-background">
    <header class="sticky top-0 z-10 backdrop-blur-md">
        <nav class="shadow">
            <div class="container mx-auto px-6 py-3 md:flex md:justify-between md:items-center">
              <div class="flex justify-between items-center">
                <div>
                  <a class="text-gray-800 text-xl font-bold md:text-2xl hover:text-gray-700" href="#">Brand</a>
                </div>

                <!-- Mobile menu button -->
                <div class="flex md:hidden">
                  <button (click)="isBurgerMenuOpen = !isBurgerMenuOpen" type="button" class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600" aria-label="toggle menu">
                    <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                      <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                    </svg>
                  </button>
                </div>
              </div>

              <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
              <div class="md:flex items-center" *ngIf="(deviceService.isMobile$ | async) === false || (deviceService.isMobile$ | async) && isBurgerMenuOpen ">
                <div class="flex flex-col md:flex-row md:mx-6">
                  <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="#">Home</a>
                  <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="#">Shop</a>
                  <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="#">Contact</a>
                  <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="#">About</a>
                </div>

                <div class="flex justify-center md:block">
                  <a class="relative text-gray-700 hover:text-gray-600">
                    <lp-download-button (click)="scrollToElement(download)"/>
                </a>
                </div>
              </div>
            </div>
          </nav>
    </header>

    <section>
        <div class="wrapper container">
            <div class="left space-y-2">
                <div class="title">
                    <h1>L’application qu’il vous faut en tant que maître d’animaux !</h1>
                </div>
                <div class="description">Des réponses professionnelles à toutes les questions que vous pouvez vous poser au sujet de vos compagnons </div>
                <lp-download-button (click)="scrollToElement(download)" [displayIcons]="false"/>
                <div class="flex flex-row gap-2" (click)="scrollToElement(download)">
                    <img  class="rounded-md max-h-[40px]" src="assets/download-stores/google-play.svg">
                    <img class="rounded-md max-h-[40px]" src="assets/download-stores/app-store.svg">
                </div>
            </div>
            <div class="right">
                <div class="image">
                    <img src="assets/landing-page-female/homepage.png">
                </div>
            </div>
        </div>
    </section>
</div>

<section class="features-color-background">
    <div class="wrapper-features container">
        <div class="column md:flex-grow md:flex-shrink md:w-0">
            <div class="feature-icon">
                <img src="assets/icons/tortue.svg">
            </div>
            <h3>Posez toutes vos questions !</h3>
            <p>Un accompagnement personnalisé pour répondre aux besoins de vos animaux de compagnie tout au long de leur vie.</p>
        </div>
        <div class="column md:flex-grow md:flex-shrink md:w-0">
            <div class="feature-icon">
                <img src="assets/icons/hamster.svg">
            </div>
            <h3>Au plus près de vous 24h/24, 7j/7</h3>
            <p>Obtenez une réponse instantanée via notre chat dédié, disponible sur mobile, tablette et ordinateur.</p>
        </div>
        <div class="column md:flex-grow md:flex-shrink md:w-0">
            <div class="feature-icon">
                <img src="assets/icons/lapin.svg">
            </div>
            <h3>Tous vos compagnons sont les bienvenus</h3>
            <p>Avec ou sans pattes, à poils, à plumes ou à écailles.</p>
        </div>
    </div>
</section>

<section class="linear-color-background-inverted min-h-screen">
    <div class="flex flex-col md:flex-row items-center justify-center container gap-8">

        <img class="w-full max-w-[50%]" src="assets/landing-page-female/girls.png">

        <div class="w-full max-w-screen-xl mx-auto px-5 min-h-sceen">
            <div class="flex flex-col items-center">
                <h2 class="font-bold text-5xl mt-5 tracking-tight">
                    FAQ
                </h2>
                <p class="text-neutral-500 text-xl mt-3">
                    Questions les plus posées
                </p>
            </div>
            <div class="grid divide-y divide-slate-500 max-w-xl mx-auto mt-8">
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span>Le principe ? </span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                            A l’aide de notre chat disponible sur mobile ou ordinateur, communiquez instantanément avec notre équipe de professionnels en santé et bien-être animalier.
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span>Quelles questions puis-je poser ?</span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                            Posez toutes les questions qui vous passent par la tête au sujet de vos animaux de compagnie, concernant leur santé ou leur bien-être.
Notre équipe de professionnels vous répondra instantanément.
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span>Quels animaux sont concernés ? </span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                            Tous vos animaux sont les bienvenus et recevront des conseils adaptés. Chats, chiens, rongeurs, oiseaux, tortues, serpents, lézards…
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span>Comment accéder à notre service ? </span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                            Nos services sont disponibles sur notre application mobile (IOS ou Android) ou depuis notre site internet. <span (click)="scrollToElement(download)">Rendez-vous ici pour accéder à l’application.</span>
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span>A quel moment puis-je vous écrire ?</span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                            Notre équipe répond à vos questions tout au long de la journée tous les jours de la semaine, ainsi qu’à vos urgences la nuit.
                        </p>
                    </details>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="background-color: aliceblue;" class="min-h-[50vh] px-8">
    <div>
        <h2 class="font-bold text-5xl pt-8 text-center text-accent">Ce que ces maîtres disent de nous :</h2>
    </div>
    <!-- TODO FAKE AVIS  & img description + étoiles ?-->
    <div class="wrapper-features">
        <div class="column shadow-lg p-4 bg-white">
            <div class="feature-icon">
                <img class="rounded-full" src="assets/avis/Marion-avis.jpg">
            </div>
            <h3 class="text-cyan-600 pt-4">TODO ADD FAKE AVIS</h3>
            <ng-container [ngTemplateOutlet]="FiveStars"></ng-container>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="column shadow-lg p-4 bg-white">
            <div class="feature-icon">
                <img class="rounded-full" src="assets/avis/Karim-avis.jpg">
            </div>
            <h3 class="text-cyan-600 pt-4">TODO ADD FAKE AVIS</h3>
            <ng-container [ngTemplateOutlet]="FiveStars"></ng-container>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="column shadow-lg p-4 bg-white">
            <div class="feature-icon">
                <img class="rounded-full" src="assets/avis/Julien-avis.jpg">
            </div>
            <h3 class="text-cyan-600 pt-4 ">TODO ADD FAKE AVIS</h3>
            <ng-container [ngTemplateOutlet]="FourStars"></ng-container>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="column shadow-lg p-4 bg-white">
            <div class="feature-icon">
                <img class="rounded-full" src="assets/avis/Stephanie-avis.jpg">
            </div>
            <h3 class="text-cyan-600 pt-4 ">TODO ADD FAKE AVIS</h3>
            <ng-container [ngTemplateOutlet]="FiveStars"></ng-container>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="column shadow-lg p-4 bg-white">
            <div class="feature-icon">
                <img class="rounded-full" src="assets/avis/Elsa-avis.jpg">
            </div>
            <h3 class="text-cyan-600 pt-4">TODO ADD FAKE AVIS</h3>
            <ng-container [ngTemplateOutlet]="FourStars"></ng-container>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
    </div>
</section>
<section class="min-h-screen features-color-background" >
        <div class="mx-auto">
            <h2 class="font-bold text-5xl pt-8 text-center text-accent">Tarif</h2>
        </div>
        <div class="w-full flex justify-center pt-8">
            <div class="w-full md:w-[40%] md:max-w-none bg-white px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:-mx-3 md:mb-0 rounded-md shadow-lg shadow-gray-600 md:relative md:z-50 md:flex md:flex-col">
                <div class="w-full flex-grow">
                    <h2 class="text-center font-bold uppercase mb-4">Standard</h2>
                    <h3 class="text-center font-bold text-4xl md:text-5xl mb-5"> {{offer.price}}€<span class="text-sm">/mois</span></h3>
                    <ul class="text-sm mb-8">
                        <li class="leading-loose">
                            <span class="text-accent text-xl"><ng-icon strokeWidth="100" name="ionCheckmark"></ng-icon></span>

                             {{offer.availability}}
                             <ng-container *ngIf="extra">
                                <br>
                                <span class="text-accent text-xl"><ng-icon strokeWidth="100" name=""></ng-icon></span><!-- Use to have the correct margin -->
                                <span class="">*{{ extra }}</span>
                             </ng-container>
                        </li>
                        <li class="leading-loose">
                            <span class="text-accent text-xl"><ng-icon strokeWidth="100" name="ionCheckmark"></ng-icon></span>
                            Disponible depuis votre smartphone et votre navigateur
                        </li>
                        <li class="leading-loose">
                            <span class="text-accent text-xl"><ng-icon strokeWidth="100" name="ionCheckmark"></ng-icon></span>
                            Poser toutes vos questions sur vos annimaux
                        </li>
                        <li class="leading-loose">
                            <span class="text-accent text-xl"><ng-icon strokeWidth="100" name="ionCheckmark"></ng-icon></span>
                            Réponses données par des professionnels annimaliers
                        </li>
                        <li class="leading-loose">
                            <span class="text-accent text-xl"><ng-icon strokeWidth="100" name="ionCheckmark"></ng-icon></span>
                            Paiement sécurisé depuis l'application
                        </li>
                    </ul>
                </div>
                <div class="w-full">
                    <button (click)="scrollToElement(download)" class="font-bold bg-accent hover:bg-white text-white hover:text-accent hover:border-accent hover:border-2 rounded-md px-10 py-2 transition-colors w-full">Télécharger</button>
                </div>
            </div>

        </div>


</section>

<section>
    <div class="container h-screen" #download>
        <div class="m-auto w-fit flex flex-col justify-center items-start h-full">
            <ng-container [ngSwitch]="step">
                <ng-container *ngSwitchCase="1">
                    <lp-email (emailSubmitted)="step = 2"/>
                </ng-container>
                <div *ngSwitchCase="2" @opacityAnimation>
                    <div hlmAlert class="w-fit mb-8" variant="primary">
                        <ng-icon hlmAlertIcon name="ionCheckmarkDoneCircle" class="!text-primary-foreground"></ng-icon>
                        <h4 hlmAlertTitle>Email envoyé !</h4>
                        <p hlmAlertDesc>
                            Cela peut prendre quelques minutes avant que vous recevrez l'email.<br />
                            Si vous ne le voyez pas, n'hésitez pas à regarder dans vos <strong>spams</strong> ou à réessayer.
                        </p>
                    </div>
                    <lp-problem (problemSubmitted)="step = 3"/>
                </div>
                <div *ngSwitchCase="3" @opacityAnimation>
                    <div hlmAlert class="w-fit mb-8" variant="primary">
                        <ng-icon hlmAlertIcon name="ionCheckmarkDoneCircle" class="!text-primary-foreground"/>
                        <h4 hlmAlertTitle>Merci !</h4>
                        <p hlmAlertDesc>
                            L'équipe vous remercie et vous dit à très vite sur l'application<br />
                        </p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>


<ng-template #FiveStars>
    <div class="flex justify-center items-center">
        <div class="flex items-center mt-2 mb-4">
          <svg *ngFor="let star of [1,2,3,4,5]" class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg>
        </div>
      </div>
</ng-template>

<ng-template #FourStars>
    <div class="flex justify-center items-center">
        <div class="flex items-center mt-2 mb-4">
          <svg *ngFor="let star of [1,2,3,4]" class="mx-1 w-4 h-4 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg>
          <svg class="mx-1 w-4 h-4 fill-current text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg>
        </div>
      </div>
</ng-template>