<div class="linear-color-background">
    <header class="sticky top-0 z-10 backdrop-blur-md">
        <nav class="shadow">
            <div class="container mx-auto px-6 py-3 md:flex md:justify-between md:items-center">
              <div class="flex justify-between items-center">
                <div>
                  <a class="text-gray-800 text-xl font-bold md:text-2xl hover:text-gray-700" href="#">Brand</a>
                </div>

                <!-- Mobile menu button -->
                <div class="flex md:hidden">
                  <button (click)="isBurgerMenuOpen = !isBurgerMenuOpen" type="button" class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600" aria-label="toggle menu">
                    <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                      <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                    </svg>
                  </button>
                </div>
              </div>

              <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
              <div class="md:flex items-center" *ngIf="(deviceService.isMobile$ | async) === false || (deviceService.isMobile$ | async) && isBurgerMenuOpen ">
                <div class="flex flex-col md:flex-row md:mx-6">
                  <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="#">Home</a>
                  <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="#">Shop</a>
                  <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="#">Contact</a>
                  <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-4 md:my-0" href="#">About</a>
                </div>

                <div class="flex justify-center md:block">
                  <a class="relative text-gray-700 hover:text-gray-600">
                    <lp-download-button (click)="scrollToElement(download)"/>
                </a>
                </div>
              </div>
            </div>
          </nav>
    </header>

    <section>
        <div class="wrapper container">
            <div class="left space-y-2">
                <div class="title">
                    <h1>Éliminez vos doutes en direct avec nos experts animaliers dans votre poche</h1>
                </div>
                <div class="description">L'application qui fait de vous un maître confiant. Ne laissez plus le doute vous envahir.</div>
                <lp-download-button (click)="scrollToElement(download)" [displayIcons]="false"/>
                <div class="flex flex-row gap-2" (click)="scrollToElement(download)">
                    <img  class="rounded-md max-h-[40px]" src="assets/download-stores/google-play.svg">
                    <img class="rounded-md max-h-[40px]" src="assets/download-stores/app-store.svg">
                </div>
            </div>
            <div class="right">
                <div class="image">
                    <img src="assets/landing-page-female/2.svg">
                </div>
            </div>
        </div>
    </section>
</div>

<section class="features-color-background">
    <div class="wrapper-features container">
        <div class="column md:flex-grow md:flex-shrink md:w-0">
            <div class="feature-icon">
                <img src="assets/icons/1.svg">
            </div>
            <h3>Posez toutes vos questions !</h3>
            <p>Un accompagnement personnalisé pour répondre aux besoins de vos animaux de compagnie tout au long de leur vie.</p>
        </div>
        <div class="column md:flex-grow md:flex-shrink md:w-0">
            <div class="feature-icon">
                <img src="assets/icons/2.svg">
            </div>
            <h3>Au plus près de vous 24h/24, 7j/7</h3>
            <p>Obtenez une réponse instantanée via notre chat dédié, disponible sur mobile, tablette et ordinateur.</p>
        </div>
        <div class="column md:flex-grow md:flex-shrink md:w-0">
            <div class="feature-icon">
                <img src="assets/icons/3.svg">
            </div>
            <h3>Tous vos compagnons sont les bienvenus</h3>
            <p>Avec ou sans pattes, à poils, à plumes ou à écailles.</p>
        </div>
    </div>
</section>

<section class="linear-color-background-inverted min-h-screen">
    <div class="flex flex-col md:flex-row items-center justify-center container gap-8">

        <img class="w-full" src="assets/landing-page-female/team.svg">

        <div class="w-full max-w-screen-xl mx-auto px-5 min-h-sceen">
            <div class="flex flex-col items-center">
                <h2 class="font-bold text-5xl mt-5 tracking-tight">
                    FAQ
                </h2>
                <p class="text-neutral-500 text-xl mt-3">
                    Questions les plus posées
                </p>
            </div>
            <div class="grid divide-y divide-slate-500 max-w-xl mx-auto mt-8">
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span> What is a SAAS platform?</span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                             SAAS platform is a cloud-based software service that allows users to access
                            and use a variety of tools and functionality.
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span> How does  billing work?</span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                            We offers a variety of billing options, including monthly and annual subscription plans,
                            as well as pay-as-you-go pricing for certain services. Payment is typically made through a credit
                            card or other secure online payment method.
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span> Can I get a refund for my subscription?</span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                            We offers a 30-day money-back guarantee for most of its subscription plans. If you are not
                            satisfied with your subscription within the first 30 days, you can request a full refund. Refunds
                            for subscriptions that have been active for longer than 30 days may be considered on a case-by-case
                            basis.
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span> How do I cancel my subscription?</span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                            To cancel your We subscription, you can log in to your account and navigate to the
                            subscription management page. From there, you should be able to cancel your subscription and stop
                            future billing.
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span> Can I try this platform for free?</span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                            We offers a free trial of its  platform for a limited time. During the trial period,
                            you will have access to a limited set of features and functionality, but you will not be charged.
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span> How do I access   documentation?</span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                              Documentation is available on the company's website and can be accessed by
                            logging in to your account. The documentation provides detailed information on how to use the ,
                            as well as code examples and other resources.
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span> How do I contact support?</span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                            If you need help with the platform or have any other questions, you can contact the
                            company's support team by submitting a support request through the website or by emailing
                            support@We.com.
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span> Do you offer any discounts or promotions?</span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                            We may offer discounts or promotions from time to time. To stay up-to-date on the latest
                            deals and special offers, you can sign up for the company's newsletter or follow it on social media.
                        </p>
                    </details>
                </div>
                <div class="py-5">
                    <details class="group">
                        <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                            <span> How do we compare to other similar services?</span>
                            <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
        </svg>
                      </span>
                        </summary>
                        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                             This platform is a highly reliable and feature-rich service that offers a wide range
                            of tools and functionality. It is competitively priced and offers a variety of billing options to
                            suit different needs and budgets.
                        </p>
                    </details>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="background-color: aliceblue;">
    <!-- TODO FAKE AVIS -->
    <div class="wrapper-features container">
        <div class="column">
            <div class="feature-icon">
                <img src="assets/icons/1.svg">
            </div>
            <h3>TODO ADD FAKE AVIS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="column">
            <div class="feature-icon">
                <img src="assets/icons/2.svg">
            </div>
            <h3>TODO ADD FAKE AVIS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
        <div class="column">
            <div class="feature-icon">
                <img src="assets/icons/3.svg">
            </div>
            <h3>TODO ADD FAKE AVIS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        </div>
    </div>
</section>

<section>
    <div class="container h-screen" #download>
        <div class="m-auto w-fit flex flex-col justify-center items-start h-full">
            <ng-container [ngSwitch]="step">
                <ng-container *ngSwitchCase="1">
                    <lp-email (emailSubmitted)="step = 2"/>
                </ng-container>
                <div *ngSwitchCase="2" @opacityAnimation>
                    <div hlmAlert class="w-fit mb-8" variant="primary">
                        <ng-icon hlmAlertIcon name="ionCheckmarkDoneCircle" class="!text-primary-foreground"></ng-icon>
                        <h4 hlmAlertTitle>Email envoyé !</h4>
                        <p hlmAlertDesc>
                            Cela peut prendre quelques minutes avant que vous recevrez l'email.<br />
                            Si vous ne le voyez pas, n'hésitez pas à regarder dans vos <strong>spams</strong> ou à réessayer.
                        </p>
                    </div>
                    <lp-problem (problemSubmitted)="step = 3"/>
                </div>
                <div *ngSwitchCase="3" @opacityAnimation>
                    <div hlmAlert class="w-fit mb-8" variant="primary">
                        <ng-icon hlmAlertIcon name="ionCheckmarkDoneCircle" class="!text-primary-foreground"/>
                        <h4 hlmAlertTitle>Merci !</h4>
                        <p hlmAlertDesc>
                            L'équipe vous remercie et vous dit à très vite sur l'application<br />
                        </p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>
